{% load static %}
<!DOCTYPE html>
<meta charset="utf-8">
<html lang="en">
<head>
  {% block head %}{% endblock head %}
  <title>{{title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
  <script src="{% static 'jquery.min.js' %}"></script>
  <script src="{% static 'bootstrap.min.js' %}" ></script>
</head>
<body style="height:1500px">

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'algae:prediction' %}">Algae Monitoring and Prediction</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="{% url 'algae:prediction' %}">Prediction</a></li>
      <li><a href="{% url 'algae:water' %}">Water History</a></li>
      <li><a href="{% url 'algae:images' %}">Images</a></li>
    </ul>
  </div>
</nav>
  
<div class="container" style="margin-top:50px">
{% block content %}{% endblock content %}
</div>
</body>
{% block script %}{% endblock script %}
</html>
