<h3>Fixed Navbar</h3>
<div class="row">
  <div class="col-md-4">
    <p>A fixed navigation bar stays visible in a fixed position (top or bottom) independent of the page scroll.</p>
    <p>A fixed navigation bar stays visible in a fixed position (top or bottom) independent of the page scroll.</p>    
  </div>
  <div class="col-md-4"> 
    <p>A fixed navigation bar stays visible in a fixed position (top or bottom) independent of the page scroll.</p>
    <p>A fixed navigation bar stays visible in a fixed position (top or bottom) independent of the page scroll.</p>
  </div>
  <div class="col-md-4"> 
    <p>A fixed navigation bar stays visible in a fixed position (top or bottom) independent of the page scroll.</p>
    <p>A fixed navigation bar stays visible in a fixed position (top or bottom) independent of the page scroll.</p> 
  </div>
</div>